<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Greeting</title>
</head>
<body>

<form action="/login" method=post>
    <div> Currently logged in as {{user}}</div>
    <div>
        login:   <input type="text" name="login">

    </div>
    <div>
        password:   <input type="password" name="password">

    </div>
    <input type="submit" value="login" name="Submit"/>
</form>
</body>

</html>